body {
    margin-bottom: 30px;
    background-color: #fbfbfb;
}
@media screen and (max-width: 767px) {
    body {
        margin-bottom: 200px!important;
    }

    #NavSection {
        padding-top:100px;
    }

    main {
        padding-top: 25px;
    }
}

@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
    }
}

.navbar {
    padding-left: 0;
}

.list-group-item {
    background-color: #520152;
    color: white;
}

    .list-group-item.active {
        color: #fff;
        background-color: black;
        border-color: #fff;
    }

#sidebarMenu, #main-navbar {
    background-color: #520152;
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
}

    .navbar-light .navbar-nav .nav-link :hover {
        color: white !important;
    }

.bg-danger {
    background-color: red !important;
    color: #fff !important;
}

/* Sidebar */
ul#NavSection li{
    list-style: none
}

.list-group-item-action:hover{
    background-color:black;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}

.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

#NavSection a {
    color: white;
}

#NavSection li.active {
    /*background-color: white;*/
    border-radius: 10px;
}

#NavSection li.active  a {
    background-color: black;
    border:1px solid white;
    border-radius:10px;
}

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

    .map-container iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }

.navbar .breadcrumb-item + .breadcrumb-item::before {
    color: #bdbdbd;
}

.navbar .breadcrumb-item.active {
    color: #bdbdbd;
}

.navbar.no-content .breadcrumb-item + .breadcrumb-item::before {
    content: none;
}

#counter {
    margin-top: 50px;
}

.card-body {
    border-radius:10px;
    padding: 43px 30px;
    position: relative;
    align-items: center;
    justify-content: center;
}

    .card-body > img {
        width: 60px;
        height: 60px;
        flex-basis: 60px;
        text-align: right;
    }

    .card-body > .countersection {
        margin-left: 30px;
        flex-basis: 50%;
        text-align: left;
    }


.container {
    margin-top: 50px
}

.counter-box {
    display: block;
    background: #fff;
    padding: 40px 20px 37px;
    text-align: center;
    border:1px solid purple;
    border-radius:10px;
}

    .counter-box p {
        margin: 5px 0 0;
        padding: 0;
        color: #909090;
        font-size: 18px;
        font-weight: 500
    }

    .counter-box i {
        font-size: 60px;
        margin: 0 0 15px;
        color: #d2d2d2
    }

.counter {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: #666;
    line-height: 28px
}

.counter-box.colored {
    background: #3acf87
}

    .counter-box.colored p,
    .counter-box.colored i,
    .counter-box.colored .counter {
        color: #fff
    }


#mainnav {
    padding-left: 10px;
    background-color: #520152
}

#chartsection .chart-container, .patientslist {
    border: 1px solid purple;
    border-radius: 10px;
}

#chartsection :nth-child(2) {
    padding-left: 0;
}

    #chartsection :nth-child(3) {
        padding-left: 0;
        padding-right: 0;
    }

.bg-success {
    background-color: #e8f5e9 !important;
    color: #388e3c !important;
}

/*.bg-danger {
    background-color: #ffebee !important;
    color: #d32f2f !important
}*/

.bg-primary {
    color: #512da8 !important;
    background-color: #ede7f6 !important;
}

.bg-secondary {
    color: #f57c00 !important;
    background-color: #fff3e0 !important;
}

.table {
    margin-bottom: 0;
}

#patientslist .counter-box, #recentlyjoined .card-body {
    padding: 10px;
}

#recentlyjoined img {
height:100px;
width:100px;
margin-bottom:1rem;
}

#recentlyjoined {
    margin-bottom: 1rem;
}

.overlay {
text-align:center;
}

.fc-button-primary, .fc-event-title-container {
    background-color: purple !important;
}